* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/paris.jpg);
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contenedor {
    max-width: 320px;
    height: 420px;
    background-color:darksalmon;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    padding: 70px 30px;
}

.contenedor img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -100px;
    left: calc(50% - 50px);
}

.contenedor h1 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.5em;
}

.contenedor label {
    font-weight: bold;
    display: block;
    
}

.contenedor input {
    width: 100%;
    margin-bottom: 20px;
}

.contenedor input[type="tex"],
.contenedor input[ type="password"] {
    border: none 1px;
    border-bottom: 1px solid white;
    background-color: transparent;
    outline: none;
    height: 40px;
    color: white;
}

.contenedor input[type="button"] {
    border: none;
    outline: none;
    height: 40px;
    font-size: 1.1em;
    background-color:deeppink;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15ps;
    -o-border-radius: 15px;
}

.contenedor input[type="button"] :hover {
    background-color: white;
    color: red;
    text-shadow: 2px 2px 0 red, 2px -2px 0 red, -2px 2px 0 red, -2px -2px 0 red, 2px 0px 0 red, 0px 2px 0 red , -2px 0px 0 red , 0px -2px 0 red; 
}

.contenedor a {
    text-decoration: none;
    display: block;
    color: darkgray;
    font-size: 0.8em;
    line-height: 20px;

}